<div id="province-districts-<%= province.id %>">
<%= province.name_en %> contains <%= districts_summary %>.<ref>{{cite web|url=http://db.ncdd.gov.kh/gazetteer/view/province.castle?pv=<%= province.id %> |title=<%= province.name_en %> |publisher=National Committee for Sub-National Democratic Development }}</ref>

{| class="wikitable sortable"
|-
! #
! Name
! Khmer
! [[Romanization of Khmer#UNGEGN|UNGEGN]]
! Administrative Unit
! Geocode
|-
<% districts.each_with_index do |district, index| %>
| <%= index + 1 %>
<% if district.links[:wikipedia] -%>
<% district_page = URI.parse(district.links[:wikipedia]).path.split("/").last -%>
<% if district_page.gsub("_", " ") == district.name_en -%>
| [[<%= district.name_en %>]]
<% else -%>
| [[<%= district_page %>|<%= district.name_en %>]]
<% end -%>
<% else -%>
| <%= district.name_en %>
<% end -%>
| <%= district.name_km %>
<% if district.name_ungegn -%>
| {{transliteration|km|<%= district.name_ungegn %>}}
<% else -%>
|
<% end -%>
| <%= "#{district.administrative_unit.name_en} (#{district.administrative_unit.name_km} #{district.administrative_unit.name_latin})" %>
| <%= district.id %>
|-
<% end -%>
|}
</div>
